body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.container {
    margin: 20px 0;
    padding: 0;
    text-align: center;

}

.form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pelicula {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.pelicula img {
    width: 100px;
    /* Ajusta el tamaño de la imagen según necesites */
    height: auto;
    margin-right: 10px;
}

.resultados {
    background-color: #e7f3fe;
    padding: 10px;
    margin: 20px 0;
}

.buscarBtn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.buscarBtn:hover{
    background-color: darkgreen;
}